<div class="content">
    <mat-form-field appearance="outline">
        <mat-label>Ürün Adı</mat-label>
        <input matInput #txtName placeholder="New Product">
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label>Stok Sayısı</mat-label>
        <input matInput #txtStock placeholder="0" type="number" min="0" value="0">
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label>Fiyat</mat-label>
        <input matInput #txtPrice placeholder="0" type="number" min="0" value="0">
    </mat-form-field>
    <button mat-fab extended color="primary" (click)="create(txtName, txtStock, txtPrice)">
        <mat-icon>add</mat-icon>
        Yeni Ürün Ekle
    </button>
</div>