<mat-list class="sidebar-list">
    <a mat-list-item routerLink="/admin"><mat-icon matListItemIcon class="icon">home</mat-icon>Dashboard</a>
    <a mat-list-item routerLink="/admin/customers"><mat-icon matListItemIcon class="icon">group</mat-icon>Customer</a>
    <a mat-list-item routerLink="/admin/orders"><mat-icon matListItemIcon
            class="icon">shopping_basket</mat-icon>Order</a>
    <a mat-list-item routerLink="/admin/products"><mat-icon matListItemIcon class="icon">category</mat-icon>
        Products</a>
    <a mat-list-item routerLink="/"><mat-icon matListItemIcon class="icon">keyboard_returns</mat-icon>Back to Page</a>
</mat-list>